@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-ai-pattern {
  background-image: url('./bg3.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-height {
  height: 5rem;
}